body {
  font-family: cursive;
  background-color: #87e0af;
  margin: 0;
  padding: 0;
  color: #151515;
}

header {
  text-align: center;
  margin-bottom: 30px;
}

header h1 {
  font-size: 50px;
  margin: 10px;
}
h2 {
  text-align: center;
}

header p {
  color: #070707;
  font-family: cursive;
}

nav {
  text-align: center;
  border: 10px solid rgb(6, 85, 6);
  border-radius: 25px;
  border-width: 5px;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
}

.container {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}