body {
    font-family: cursive;
    background-color: #87e0af;
    margin: 0;
  padding: 0;
  color: #151515;
  
}
header {
  text-align: center;
  margin-bottom: 30px;
  
}

header h1 {
    padding-top: 20px;
  font-size: 50px;
  margin: 10px;
}

header p {
  color: #070707;
  font-family: cursive;
}


nav {
    text-align: center;
    border: 10px solid #4ebfa8;
    border-radius: 25px;
    border-width: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    padding: 10px;
}
.recipe-card {
    background: #4ebfa8;
    border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(6, 6, 6, 0.1);
}
.recipe-card h3 {
    color: rgb(230, 149, 1);
}
.recipe-card p{
    color: black;
}

.recipe-card p strong{
    color: rgb(255, 255, 255);
}