

header h1 {
  padding-top: 20px;
  font-size: 50px;
  margin: 10px;
}
h2 {
  font-size: 28px;
  text-decoration: underline;
}
.recipe-card {
    background: #4ebfa8;
    border-radius: 12px;
  padding: 20px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(6, 6, 6, 0.1);
}
.recipe-card h3 {
    color: rgb(146, 1, 230);
}
.recipe-card p{
    color: black;
}

.recipe-card p strong{
    color: rgb(255, 255, 255);
}